<div style="position: absolute; left:50%; top:25%; transform: translate(-50%, 0%); width:25%">
	<form id="usernameForm" class="form-setusername" style="min-width: 200px">
		<label for="inputUsername" class="sr-only">Username</label>
		<input type="text" id="inputUsername" class="form-control" ng-model="formData.username" placeholder="{{userProfile.getProfile().username}}" required="" autofocus="" style="text-align: center">
		<label></label>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!userProfile.isLoggedIn()" ng-click="  changeUsername()">Change username</button>
	</form>
</div>