<div class="modal-body" id="boxModalBod">
	<div class="title" align="center" ng-show="num===-1">
		<p style="display:inline-block;font-size:30px"> {{boxName}} </p>
		<div ng-hide="((boxComplete==='true') || (UserCount===4)) || ((thumbComplete === false) && (boxLength !== 0))" style="display:inline">
		<button id="moreUpload" class="btn new-btn-success btn-success custom-fade custom-btn-wide custom-text-space-med dropdown" type="button" ng-click="goToUpload()">Upload</button>
		</div>
	</div>
	<div class="gallery" ng-show="num===-1">
		<div class="image-wrapper hvr-glow-blue" ng-repeat="image in gallery track by $index" style="margin:5px">
			<div class="shadow">
				<img class="images" ng-src="{{image.Thumbnail}}" 
				ng-click="setNum($index+1);genUrl($index);iconSize();setType(gallery[$index].Type);vidPad();vidCss(gallery[$index].Type);genPdf(gallery[$index].Type)" 
				style="cursor: hand;cursor: pointer;" width="200px" height="200px" />
				<span id="gallery-text">{{gallery[$index].Title}}</span>
				<span id="gallery-author">{{gallery[$index].Author}}</span>
				<hr class="lineClass"/>
			</div>
		</div>
	</div>
	<div class = "single-image-view" ng-show="num !== -1">
		<div class="single-image-wrapper" id="singleImageWrapper" ng-show="isImg" style="position: relative;">
			<img id="singleImage" class="image" ng-src="{{curLink}}" imageonload />
		</div>
		<div class="video" ng-show="isVid">
			<videogular vg-theme="theme" vg-responsive="true">
				<vg-video vg-src="video_sources"></vg-video>
				<vg-controls vg-autohide="true" vg-autohide-time="3000">
					<vg-play-pause-button></vg-play-pause-button>
					<vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
					<vg-scrubBar><vg-scrubbarcurrenttime></vg-scrubbarcurrenttime></vg-scrubBar>
					<vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
					<vg-volume>
						<vg-mutebutton></vg-mutebutton>
						<vg-volumebar></vg-volumebar>
					</vg-volume>
					<vg-fullscreenButton></vg-fullscreenButton>
				</vg-controls>
				<vg-overlay-play></vg-overlay-play>
			</videogular>
		</div>
		<div class="audio" ng-show="isAud" style="margin-top:80px">
			<videogular vg-theme="theme" vg-responsive="true">
				<vg-audio vg-src="audio_sources"></vg-audio>
				<vg-controls>
					<vg-play-pause-button></vg-play-pause-button>
					<vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
					<vg-scrubBar><vg-scrubbarcurrenttime></vg-scrubbarcurrenttime></vg-scrubBar>
					<vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
					<vg-volume>
						<vg-mutebutton></vg-mutebutton>
						<vg-volumebar></vg-volumebar>
					</vg-volume>
					<vg-fullscreenButton></vg-fullscreenButton>
				</vg-controls>
			</videogular>
		</div>
		<div class="single-image-wrapper" id="pdf-view" ng-show="isPdf">
		<object class="pdf-file" type="application/pdf" width="100%" height="100%"></object>
		</div>
		<div class ="image-text">
			<div class="buttons">
				<i class="fa fa-angle-left fa-3x prev-img prev-animate"  ng-click="genUrl((gallery.length+num-2)%(gallery.length));vidCss(gallery[(gallery.length+num-2)%(gallery.length)].Type);genPdf(gallery[(gallery.length+num-2)%(gallery.length)].Type);setType(gallery[(gallery.length+num-2)%(gallery.length)].Type);setNum((num-1)%(gallery.length));pauseVid()"></i>
				<i class ="fa fa-th-large fa-3x return window-pulse" ng-click="setNum(-1);pauseVid()"/>
				<i class="fa fa-angle-right fa-3x next-img next-animate" ng-click="genUrl((num)%(gallery.length));setType(gallery[(num)%(gallery.length)].Type);vidCss(gallery[(num)%(gallery.length)].Type);genPdf(gallery[(num)%(gallery.length)].Type);setNum((num+1)%(gallery.length));pauseVid()"></i>
			</div>
			<div class="image-author" style="font-size:18px" ng-show="gallery[num-1].showEmail">
				{{gallery[num-1].Author}} ({{gallery[num-1].Email}})
			</div>
			<div class="image-author" style="font-size:18px" ng-hide="gallery[num-1].showEmail">
				{{gallery[num-1].Author}} 
			</div>							
			<div class="image-description" style="font-size:18px">
				{{gallery[num-1].Description}}
			</div>
		</div>
	</div>
</div>