.background-dark-slate {
	background-color: rgb(30,30,40);
  color: rgb(192,192,192);
}

/*forces ui-router induced ui-bootstrap modal window backdrop to be fullsize;
fixes the glitch that gives the backdrop 0 width and/or height*/
.fullsize {
  width:100%;
  height:100%;
}

.mesh-background {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.darkscreen {
  z-index: 1040;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  transition: opacity .15s linear;
}

.modal-center {
  position: absolute;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.custom-bars-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}
.custom-bars-btn:hover, .custom-bars-btn:active, .custom-bars-btn:focus {
  color: #2299dd;
}

.custom-navbar-size {
  width: 100%;
  height: 50px;
  z-index: -2;
}

.font-gray {
  color: rgb(128,128,128) !important;
}

.font-white {
  color: white !important;
}

.space-divider {
	margin-left: 10px;
	height:auto;
	display:inline-block;
}

.icon-small {
  width:48px;
  height:48px;
}

.icon-med {
  width:64px;
  height:64px;
}

.no-text-dec, .no-text-dec:hover, .no-text-dec:focus  {
	text-decoration: none;
}

.no-text-sel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.default-cursor {
	cursor: default;
}

/*this is for styling the tooltip*/
.ui-tooltip, .arrow:after {
    background: black !important;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white !important;
    border-radius: 20px;
    font: 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
    text-align: center !important;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
/*end styling tooltip*/


.custom-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
}

.custom-btn-wide {
	width:100px;
	border-radius:0px;
}

.custom-btn-large {
	width:100px;
	height:50px;
	border-radius:0px;
}

.custom-btn-transparent {
	background-color: transparent;
	color: white;
	outline: none;
}

.custom-modal-compress {
	width: 400px;
}

.custom-modal-rounded {
	border-radius: 20px;
}

/*
.custom-signModal > .modal-dialog {
  width: 400px;
}

.custom-signModal > .modal-content {
  border-radius: 20px;
}*/

.custom-text-space-med {
	letter-spacing: 3px;
}

.custom-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
}

.custom-fade:hover {
  background-color: #449d44;
  border-color: #398439;
  /*above colors used for Login button only*/
}

.custom-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow color;
  transition-property: box-shadow color;
  box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.custom-border-fade:hover {
  box-shadow: inset 0 0 0 2px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
  color: #2098d1;
  /*above colors used for Create/Receive buttons only*/
  /* Hack to improve aliasing on mobile/tablet devices */
}

.custom-entire-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow background-color;
  transition-property: box-shadow background-color;
  box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.custom-entire-fade:hover {
  box-shadow: inset 0 0 0 2px #2299dd, 0 0 1px rgba(0, 0, 0, 0);
  background-color: #2299dd;
  /*above colors used for Create/Receive buttons only*/
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Underline From Center */
.custom-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.custom-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.custom-underline-from-center:hover:before, .custom-underline-from-center:focus:before, .custom-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* responsive design */
.mobile {
  display: none;
}

.usernameLabelText {
  float:left;
}

.usernameLabelTextBtn {
  float: right;
}

@media (max-width: 1200px) {
    .usernameLabelText {
      float: none;
      text-align: center;
      margin-bottom:10px;
    }
    .usernameLabelTextBtn {
      float: none;
      margin-top:5px;
    }
}

@media (max-width: 800px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
}

@media (max-width: 600px) {
  .modal-dialog {
    max-width: 90%;
  }
  .space-divider {
    margin-left: 0px;
    display: none;
  }
  #createBtn {
    margin-bottom: 10px;
  }
}