#boxdisplay{
	padding-top: 100px;
}
.box-wrapper{
	display: inline-block !important;
	padding-left: 20px;
}
.profileHeader{
	font-size: 22px; line-height: 1.2em; font-weight: 600; font-family: 'Raleway'; letter-spacing: 2px; text-transform: uppercase; margin: 0px; text-align: center; padding-bottom: 20px;
}