<div id = "profileDiv" ng-controller="profileController">
	<div id = "boxdisplay">
	<div id = "createdDiv"> 
		<div id = "createdHeader" class = "profileHeader">Boxes Created</div>
		<div id ="createdBoxDiv" ng-repeat="created in boxlist.getCreatedBoxes() track by $index" class = "box-wrapper">
			<img ng-src="{{catState($index, 0)}}" style="width: 100px; height: 100px; cursor:pointer; left:50%; position: relative; transform: translate(-50%, 0%);" ng-mouseenter="setIndex($index, 0);" ng-mouseleave="resetIndex()" ng-click="openBoxGallery(created.boxid, created.completed)"/>
			<p style="text-align:center">Box Name: {{created.boxname}}</p>
			<p style="text-align:center">Number of Items: {{created.itemcount}} / {{created.capacity}}</p>
			<div ng-show="created.ownerusername !== ''" style="text-align:center">
				<p>Author: {{created.ownerusername}} ({{created.owner}})</p>
			</div>
			<div ng-show="created.ownerusername === ''" style="text-align:center">
				<p>Author: {{created.owner}}</p>
			</div>
		</div>
	</div>
	<div id = "collaboratedDiv">
		<div id = "createdHeader" class = "profileHeader">Boxes Collaborated</div>
		<div id ="collaboratedBoxDiv"  ng-repeat="collaborated in boxlist.getCollaboratedBoxes()" class = "box-wrapper">
			<img ng-src="{{catState($index, 1)}}" style="width: 100px; height: 100px; cursor:pointer; left:50%; position: relative; transform: translate(-50%, 0%);" ng-mouseenter="setIndex($index, 1)" ng-mouseleave="resetIndex()" ng-click="openBoxGallery(collaborated.boxid, collaborated.completed)"/>
			<p style="text-align:center">Box Name: {{collaborated.boxname}}</p>
			<p style="text-align:center">Number of Items: {{collaborated.itemcount}} / {{collaborated.capacity}}</p>
			<div ng-show="collaborated.ownerusername !== ''" style="text-align:center">
				<p>Author: {{collaborated.ownerusername}} ({{collaborated.owner}})</p>
			</div>
			<div ng-show="collaborated.ownerusername === ''" style="text-align:center">
				<p>Author: {{collaborated.owner}}</p>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>