<div id = "profileDiv" ng-controller="profileController">
	<div id = "boxdisplay" ng-show="boxlist.getCreatedBoxes().length > 0 || boxlist.getCollaboratedBoxes().length > 0">
		<div id = "createdDiv"> 
			<div id = "createdHeader" class = "profileHeader">Boxes Created</div>
			<div id ="createdBoxDiv" ng-repeat="created in boxlist.getCreatedBoxes() track by $index" class = "box-wrapper">
				<img ng-src="{{catState($index, 0, created)}}" style="width: 125px; height: 125px; cursor:pointer; position: relative;" ng-mouseenter="setIndex($index, 0);" ng-mouseleave="resetIndex()" ng-click="openBoxGallery(created.boxid, created.completed)"/>
				<p style="text-align:center">Box Name: {{created.boxname}}</p>
				<p style="text-align:center">Number of Items: {{created.itemcount}} / {{created.capacity}}</p>
			</div>
		</div>
		<div id = "collaboratedDiv">
			<div id = "createdHeader" class = "profileHeader">Boxes Collaborated</div>
			<div id ="collaboratedBoxDiv"  ng-repeat="collaborated in boxlist.getCollaboratedBoxes()" class = "box-wrapper">
				<img ng-src="{{catState($index, 1, collaborated)}}" style="width: 125px; height: 125px; cursor:pointer; position: relative;" ng-mouseenter="setIndex($index, 1)" ng-mouseleave="resetIndex()" ng-click="openBoxGallery(collaborated.boxid, collaborated.completed)"/>
				<p style="text-align:center">Box Name: {{collaborated.boxname}}</p>
				<p style="text-align:center">Number of Items: {{collaborated.itemcount}} / {{collaborated.capacity}}</p>
				<div ng-show="collaborated.ownerusername !=='' && collaborated.showEmail" style="text-align:center">
					<p>Author: {{collaborated.ownerusername}} ({{collaborated.owner}})</p>
				</div>
				<div ng-show="collaborated.ownerusername !== '' && !collaborated.showEmail" style="text-align:center">
					<p>Author: {{collaborated.ownerusername}}</p>
				</div>
				<div ng-show="collaborated.ownerusername === '' && collaborated.showEmail" style="text-align:center">
					<p>Author: {{collaborated.owner}}</p>
				</div>
				<div ng-show="collaborated.ownerusername === '' && !collaborated.showEmail" style="text-align:center">
					<p>Author: Anonymous</p>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div ng-show="boxlist.getCreatedBoxes().length <= 0 && boxlist.getCollaboratedBoxes().length <= 0">
		<div id="boxdisplay">
			<div style="text-align:center; font-size:48px">
				You have no boxes!
				<br>Click on the top-left blue icon to return to the home page and create or receive boxes!
			</div>
		</div>
	</div>
</div>