.background-dark-slate {
	background-color: rgb(20,20,27);
  color: rgb(192,192,192);
}

.font-gray {
  color: rgb(128,128,128);
}

.space-divider {
	margin-left: 10px;
	height:auto;
	display:inline-block;
}

.icon-med {
  width:64px;
  height:64px;
}

.no-text-dec, .no-text-dec:hover, .no-text-dec:focus  {
	text-decoration: none;
}

.no-text-sel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.default-cursor {
	cursor: default;
}

/*this is for styling the tooltip*/
.ui-tooltip, .arrow:after {
    background: black !important;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white !important;
    border-radius: 20px;
    font: 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
    text-align: center !important;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
/*end styling tooltip*/


.custom-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
}

.custom-btn-wide {
	width:100px;
	border-radius:0px;
}

.custom-btn-large {
	width:100px;
	height:50px;
	border-radius:0px;
}

.custom-btn-transparent {
	background-color: transparent;
	color: white;
	outline: none;
}

.custom-modal-compress {
	width: 400px;
}

.custom-modal-rounded {
	border-radius: 20px;
}

.custom-text-space-med {
	letter-spacing: 3px;
}

.custom-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
}

.custom-fade:hover {
  background-color: #449d44;
  border-color: #398439;
  /*above colors used for Login button only*/
}

.custom-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow color;
  transition-property: box-shadow color;
  box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.custom-border-fade:hover {
  box-shadow: inset 0 0 0 2px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
  color: #2098d1;
  /*above colors used for Create/Receive buttons only*/
  /* Hack to improve aliasing on mobile/tablet devices */
}

#caretSign {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

#loginContainer:hover #caretSign {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 0 #FFF;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
}
nav li {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 25%;
}
nav a {
    background: white;
    color: #444;
    display: block;
    padding: 3px 20px;
    text-align: left;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

nav a:hover {
	text-decoration: none;
}
/*
nav .dropdown:after {
    content: ' ▶';
}
nav .dropdown:hover:after{
	content:'\25bc'
}*/
nav li ul {
    float: left;
    opacity: 0;
    position: absolute;
    top: 35px;
    right:0px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 40px;
    right: 0px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #f5f5f5;
    color: black;
}

/* Clearfix */
.cf:after, .cf:before {
    content:"";
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​